## Serious Data Question: Are there more ufo sightings during full moons?

In [4]:
# Import Dependencies
import pandas as pd
import datetime as dt
from sqlalchemy import create_engine

### Data: two datasets from Kaggle (tried to scrape the NASA site but it was all one text file rather than tables or segregated text)

In [6]:
ufo_file = "scrubbed.csv"
eclipse_file = "lunar.csv"

ufo_df = pd.read_csv(ufo_file)
ufo_df.rename(columns={'longitude ': 'longitude'}, inplace=True)
ufo_df.head()

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude
0,10/10/1949 20:30,san marcos,tx,us,cylinder,2700,45 minutes,This event took place in early fall around 194...,4/27/2004,29.8830556,-97.941111
1,10/10/1949 21:00,lackland afb,tx,NaN,light,7200,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,12/16/2005,29.38421,-98.581082
2,10/10/1955 17:00,chester (uk/england),NaN,gb,circle,20,20 seconds,Green/Orange circular disc over Chester&#44 En...,1/21/2008,53.2,-2.916667
3,10/10/1956 21:00,edna,tx,us,circle,20,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.9783333,-96.645833
4,10/10/1960 20:00,kaneohe,hi,us,light,900,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.4180556,-157.803611

### Rounded and converted latitude and longitude values in ufo dataframe to match the lunar dataframe:

In [7]:
# convert latitude object to float
ufo_df['latitude'] = pd.to_numeric(ufo_df['latitude'], errors='coerce')

In [8]:
# round latitude and longitude
ufo_df['longitude'] = ufo_df['longitude'].round()
ufo_df['latitude'] = ufo_df['latitude'].round()

In [ ]:
# write function to add directional indicators to lng
def longitude_number_to_longitude_string(longitude):

   longitude_letter = ''
   if (longitude>0):
       longitude_letter = 'E'
   else:
       longitude_letter = 'W'
   return f'{abs(longitude):.0f}{longitude_letter}'

In [ ]:
# Add longitude directionals column
ufo_df['longitude_string'] = ufo_df.longitude.map(longitude_number_to_longitude_string)

In [ ]:
# drop the original longitude column
ufo_df.drop('longitude', axis=1, inplace=True)

In [ ]:
# write function to add directional indicators to lat
def latitude_number_to_latitude_string(latitude):

   latitude_letter = ''
   if (latitude>0):
       latitude_letter = 'N'
   else:
       latitude_letter = 'S'
   return f'{abs(latitude):.0f}{latitude_letter}'

In [ ]:
# Add latitude directionals column
ufo_df['latitude_string'] = ufo_df.latitude.map(latitude_number_to_latitude_string)

In [ ]:
# drop the original latitude column
ufo_df.drop('latitude', axis=1, inplace=True)

### Transformed datetime data in both tables to standardize and allow for joins and further transformations:

In [9]:
eclipse_df = pd.read_csv(eclipse_file)
eclipse_df.head()

,Catalog Number,Calendar Date,Eclipse Time,Delta T (s),Lunation Number,Saros Number,Eclipse Type,Quincena Solar Eclipse,Gamma,Penumbral Magnitude,Umbral Magnitude,Latitude,Longitude,Penumbral Eclipse Duration (m),Partial Eclipse Duration (m),Total Eclipse Duration (m)
0,1,-1999 June 26,14:13:28,46437,-49456,17,N,t-,-1.0981,0.8791,-0.1922,24S,22W,268.8,-,-
1,2,-1999 November 21,20:23:49,46427,-49451,-16,N,-a,-1.1155,0.8143,-0.1921,15N,98W,233.4,-,-
2,3,-1998 May 17,05:47:36,46416,-49445,-11,P,-t,0.8988,1.2105,0.2069,13S,89E,281.7,102.7,-
3,4,-1998 November 11,05:15:58,46404,-49439,-6,P,-a,-0.4644,2.0382,0.9740,12N,113E,343.4,200.8,-
4,5,-1997 May 6,18:57:01,46392,-49433,-1,T+,pp,0.1003,2.6513,1.6963,11S,92W,322.8,213.5,98.2

In [10]:
date_format = '%m/%d/%Y %H:%M'
final_format = '%Y/%m/%d'
df = ufo_df.head()
times = []
for index, row in ufo_df.iterrows():
    if '24:00' in row['datetime']:
        ufo_df.drop([index], inplace=True)
        continue
    try:
        times.append(dt.datetime.strptime(row['datetime'],date_format))
    except Exception as e:
        print(e)
        
ufo_df['time'] = [t.strftime(final_format) for t in times]
ufo_df.drop(columns=['datetime', 'date posted'], inplace=True)
ufo_df.head()

,city,state,country,shape,duration (seconds),duration (hours/min),comments,latitude,longitude,time
0,san marcos,tx,us,cylinder,2700,45 minutes,This event took place in early fall around 194...,30.0,-98.0,1949/10/10
1,lackland afb,tx,NaN,light,7200,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,29.0,-99.0,1949/10/10
2,chester (uk/england),NaN,gb,circle,20,20 seconds,Green/Orange circular disc over Chester&#44 En...,53.0,-3.0,1955/10/10
3,edna,tx,us,circle,20,1/2 hour,My older brother and twin sister were leaving ...,29.0,-97.0,1956/10/10
4,kaneohe,hi,us,light,900,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,21.0,-158.0,1960/10/10

In [11]:
date_format = '%Y %B %d'
time_format = '%H:%M:%S'
final_format = '%Y/%m/%d'
times = []
for index, row in eclipse_df.iterrows():
    calendar_date = row['Calendar Date'][1:]

    try:
        if calendar_date.split(' ')[0] == '' :
            eclipse_df.drop([index], inplace=True)
            continue
        elif int(calendar_date.split(' ')[0]) < 1900:
            eclipse_df.drop([index], inplace=True)
            continue
        times.append(dt.datetime.strptime(calendar_date + ' ' + row['Eclipse Time'],date_format + ' ' + time_format))
    except Exception as e:
        print(e)
        
eclipse_df['time'] = [t.strftime(final_format) for t in times]
eclipse_clean_df = eclipse_df.drop(columns=['Calendar Date', 'Eclipse Time'])
eclipse_clean_df.head()

,Catalog Number,Delta T (s),Lunation Number,Saros Number,Eclipse Type,Quincena Solar Eclipse,Gamma,Penumbral Magnitude,Umbral Magnitude,Latitude,Longitude,Penumbral Eclipse Duration (m),Partial Eclipse Duration (m),Total Eclipse Duration (m),time
0,1,46437,-49456,17,N,t-,-1.0981,0.8791,-0.1922,24S,22W,268.8,-,-,1999/06/26
1,2,46427,-49451,-16,N,-a,-1.1155,0.8143,-0.1921,15N,98W,233.4,-,-,1999/11/21
2,3,46416,-49445,-11,P,-t,0.8988,1.2105,0.2069,13S,89E,281.7,102.7,-,1998/05/17
3,4,46404,-49439,-6,P,-a,-0.4644,2.0382,0.9740,12N,113E,343.4,200.8,-,1998/11/11
4,5,46392,-49433,-1,T+,pp,0.1003,2.6513,1.6963,11S,92W,322.8,213.5,98.2,1997/05/06

### Create a database connection and save dataframes to the database:

In [12]:
# Create a connection string:
connection_string = f'root:b8t3rctz&n@localhost'
engine = create_engine(f'mysql://root:b8t3rctz&n@localhost')

In [13]:
# Create a database and "use" it to go any further:
engine.execute("create database if not exists lunar_ufo_db")
engine.execute("use lunar_ufo_db")

In [14]:
eclipse_clean_df.head()

,Catalog Number,Delta T (s),Lunation Number,Saros Number,Eclipse Type,Quincena Solar Eclipse,Gamma,Penumbral Magnitude,Umbral Magnitude,Latitude,Longitude,Penumbral Eclipse Duration (m),Partial Eclipse Duration (m),Total Eclipse Duration (m),time
0,1,46437,-49456,17,N,t-,-1.0981,0.8791,-0.1922,24S,22W,268.8,-,-,1999/06/26
1,2,46427,-49451,-16,N,-a,-1.1155,0.8143,-0.1921,15N,98W,233.4,-,-,1999/11/21
2,3,46416,-49445,-11,P,-t,0.8988,1.2105,0.2069,13S,89E,281.7,102.7,-,1998/05/17
3,4,46404,-49439,-6,P,-a,-0.4644,2.0382,0.9740,12N,113E,343.4,200.8,-,1998/11/11
4,5,46392,-49433,-1,T+,pp,0.1003,2.6513,1.6963,11S,92W,322.8,213.5,98.2,1997/05/06

In [15]:
ufo_df.head()

,city,state,country,shape,duration (seconds),duration (hours/min),comments,latitude,longitude,time
0,san marcos,tx,us,cylinder,2700,45 minutes,This event took place in early fall around 194...,30.0,-98.0,1949/10/10
1,lackland afb,tx,NaN,light,7200,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,29.0,-99.0,1949/10/10
2,chester (uk/england),NaN,gb,circle,20,20 seconds,Green/Orange circular disc over Chester&#44 En...,53.0,-3.0,1955/10/10
3,edna,tx,us,circle,20,1/2 hour,My older brother and twin sister were leaving ...,29.0,-97.0,1956/10/10
4,kaneohe,hi,us,light,900,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,21.0,-158.0,1960/10/10

In [16]:
eclipse_clean_df.to_sql(
    con=engine,
    name="eclipses_clean", 
    if_exists="append", 
    index=False)

In [17]:
ufo_df.to_sql(
    con=engine,
    name="ufos", 
    if_exists="append", 
    index=False)

OperationalError: (MySQLdb._exceptions.OperationalError) (1054, "Unknown column 'latitude' in 'field list'") [SQL: 'INSERT INTO ufos (city, state, country, shape, `duration (seconds)`, `duration (hours/min)`, comments, latitude, longitude, time) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)'] [parameters: (('san marcos', 'tx', 'us', 'cylinder', '2700', '45 minutes', 'This event took place in early fall around 1949-50. It occurred after a Boy Scout meeting in the Baptist Church. The Baptist Church sit', 30.0, -98.0, '1949/10/10'), ('lackland afb', 'tx', None, 'light', '7200', '1-2 hrs', '1949 Lackland AFB&#44 TX.  Lights racing across the sky &amp; making 90 degree turns on a dime.', 29.0, -99.0, '1949/10/10'), ('chester (uk/england)', None, 'gb', 'circle', '20', '20 seconds', 'Green/Orange circular disc over Chester&#44 England', 53.0, -3.0, '1955/10/10'), ('edna', 'tx', 'us', 'circle', '20', '1/2 hour', 'My older brother and twin sister were leaving the only Edna theater at about 9 PM&#44...we had our bikes and I took a different route home', 29.0, -97.0, '1956/10/10'), ('kaneohe', 'hi', 'us', 'light', '900', '15 minutes', 'AS a Marine 1st Lt. flying an FJ4B fighter/attack aircraft on a solo night exercise&#44 I was at 50&#44000&#39 in a &quot;clean&quot; aircraft (no ordinan', 21.0, -158.0, '1960/10/10'), ('bristol', 'tn', 'us', 'sphere', '300', '5 minutes', 'My father is now 89 my brother 52 the girl with us now 51 myself 49 and the other fellow which worked with my father if he&#39s still livi', 37.0, -82.0, '1961/10/10'), ('penarth (uk/wales)', None, 'gb', 'circle', '180', 'about 3 mins', 'penarth uk  circle  3mins  stayed 30ft above me for 3 mins slowly moved of and then with the blink of the eye the speed was unreal', 51.0, -3.0, '1965/10/10'), ('norwalk', 'ct', 'us', 'disk', '1200', '20 minutes', 'A bright orange color changing to reddish color disk/saucer was observed hovering above power transmission lines.', 41.0, -73.0, '1965/10/10')  ... displaying 10 of 79638 total bound parameter sets ...  ('vienna', 'va', 'us', 'circle', 5.0, '5 seconds', 'Saw a five gold lit cicular craft moving fastly from rght to left.', 39.0, -77.0, '2013/09/09'), ('edmond', 'ok', 'us', 'cigar', 1020.0, '17 minutes', '2 witnesses 2  miles apart&#44 Red &amp; White Elongated-Cigar Shaped Flashing lights&#44 NW of Oklahoma City', 36.0, -97.0, '2013/09/09'))] (Background on this error at: http://sqlalche.me/e/e3q8)

### Where we're going next: 
#### 1) Further clean and transform dataframes 
#### 2) Work with SQL further to determine if there is a real connection between ufo sightings and lunar eclipses...

CREATE VIEW non_eclipse_sightings AS
SELECT COUNT(u.comments) as count
FROM ufos u
LEFT JOIN eclipses_clean e ON e.time = u.time 
WHERE e.Latitude IS NULL
GROUP BY u.time;
SELECT SUM(count) FROM non_eclipse_sightings;

CREATE VIEW eclipse_sightings AS
SELECT COUNT(u.comments) as count
FROM ufos u
LEFT JOIN eclipses_clean e ON e.time = u.time 
WHERE e.Latitude IS NOT NULL
GROUP BY u.time;
SELECT SUM(count) FROM eclipse_sightings;